<div>

  <table class="table table-bordered table-responsive-lg">
    <tbody>
    <tr>
      <td colspan="3"></td>
      <td *ngFor="let upToothCh of upperTeethChildren" class="clickable">{{upToothCh.number}}</td>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td *ngFor="let upTooth of upperTeeth" class="clickable">{{upTooth.number}}</td>
    </tr>
    <tr>
      <td *ngFor="let lowTooth of lowerTeeth" class="clickable">{{lowTooth.number}}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td *ngFor="let lowToothCh of lowerTeethChildren" class="clickable">{{lowToothCh.number}}</td>
      <td colspan="3"></td>
    </tr>
    </tbody>
  </table>



  <div inlineSVG="assets/images/teeth-formula-1.1.svg"></div>

</div>
