.image-section {
  display: flex;
}

a.no-hover {
  color: inherit !important;
  text-decoration: none !important;
}

/*div.mat-tab-links {*/
/*  display: table;*/
/*  width: 100%;*/
/*}*/

/*a.mat-tab-link {*/
/*  vertical-align: middle;*/
/*  display: inline-table;*/
/*}*/
