<div class="container-fluid body-2">
  <h2>Пацієнт</h2>
  <mat-card>
    <div class="image-section">
      <img src="{{patient.imageSrc || 'assets/images/no-avatar.png'}}" class="patient-photo"
           alt="Patient`s photo">
      <div class="container">
        <div>{{fullFullName}}</div>
        <div>{{fullYears}} років. ({{formattedBirthday}})</div>
        <div>{{patient.phoneNumbers[0]}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">Лікар:</div>
      <div class="col">
        <a routerLink="/doctors/{{patient.doctor.id}}">{{patient.doctor.surname  + " " + patient.doctor.name}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-2">Діагноз:</div>
      <div class="col">-</div>
    </div>

  </mat-card>

  <mat-card class="position-initial">
    <nav mat-tab-nav-bar>
      <a mat-tab-link class="no-hover"
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <router-outlet></router-outlet>
  </mat-card>



</div>
