.image-section {
  display: flex;
}

a.no-hover {
  color: inherit !important;
  text-decoration: none !important;
}

mat-card.position-initial {
  position: initial;
}

.patient-photo-wrapper {

  button {
    display: none;
    width: 100%;
  }
}

.patient-photo-wrapper:hover button {
  display: block;
}

/*div.mat-tab-links {*/
/*  display: table;*/
/*  width: 100%;*/
/*}*/

/*a.mat-tab-link {*/
/*  vertical-align: middle;*/
/*  display: inline-table;*/
/*}*/
