@import "../../sass/variables";

.show-more {
  overflow-y: auto;
  min-width: 200px;
  position: relative;

  .close-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .event {
    height: 19px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(11, 128, 67);
    font-weight: 500;
    color: white;
    font-size: 13px;
   // width: calc(100% - 10px);
    margin: 2px 0 2px 5px;
  }

  .event:hover {
    opacity: 0.8;
  }
}
