<div class="container body-2">
  <h2>Список пацієнтів</h2>
  <button mat-raised-button color="primary" (click)="addNewPatient()">Додати пацієнта</button>

  <div class="patients-list">
    <mat-card *ngFor="let patient of $patients | async">
      <div class="row">
        <div class="col">
          <a routerLink="/patients/{{patient.id}}">
            <img src="{{patient.imageSrc || 'assets/images/no-avatar.png'}}" class="patient-photo"
                 alt="Patient`s photo">
          </a>
        </div>
        <div class="col">
          <div>
            <div>Ініціали:</div>
            <div><a routerLink="/patients/{{patient.id}}">{{patient.fullName}}</a></div>
          </div>
        </div>
        <div class="col">
          <div>
            <div>Контакти:</div>
            <div *ngIf="patient.phoneNumbers.length">{{patient.phoneNumbers[0]}}</div>
          </div>
        </div>
        <div class="col">
          <div>
            <div>Лікар:</div>
            <div *ngIf="patient.doctor"><a
              routerLink="/doctors/{{patient.doctor.id}}">{{patient.doctor.surname + " " + patient.doctor.name}}</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div><span class="link-style" (click)="addToVisit(patient)">Записати на прийом</span></div>
          <div><span class="link-style">Відправити нагадування</span></div>
        </div>
      </div>
    </mat-card>
  </div>

</div>
