<ul *ngIf="type === 'LIST'" class="list-group list-group-flush">
  <li class="list-group-item li-option not-close"
      #liElem
      *ngFor="let question of questions"
      (click)="onClick($event, question)">{{question.text}}</li>
</ul>

<div *ngIf="type === 'RADIO'">
  <mat-radio-group
    class="radio-group"
    (change)="onChange($event)">
    <mat-radio-button *ngFor="let question of questions;  let i = index"
                      [checked]="i === 0"
                      [value]="question">
      {{question.text}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="type === 'CHECKBOX'">
  <mat-checkbox *ngFor="let question of questions"
                (change)="onCheckBoxChanged({checked: $event.checked, value: question})">{{question.text}}</mat-checkbox>
</div>
