<mat-toolbar>
  <app-svg-icon svgSrc="assets/images/tooth.svg"></app-svg-icon>
  <h4 routerLink="/" style="cursor: pointer">Xdent</h4>
  <button mat-button class="header-label" routerLinkActive="active-link" routerLink="/patients">Пацієнти</button>
  <button mat-button class="header-label" routerLinkActive="active-link" routerLink="/sign-to-appointment">Реєстратура</button>

  <div class="auth-div" *ngIf="!isAuthenticated">
    <a class="header-label" routerLink="/sign-in">Sign in</a>
    <a class="header-label" routerLink="/sign-up">Sign up</a>
  </div>

  <div class="auth-div" *ngIf="isAuthenticated">
    <a class="header-label" routerLink="/user">Profile</a>
    <span class="header-label" (click)="signOut()">Sign out</span>
  </div>
</mat-toolbar>
