.mat-dialog-content .mat-field {
  margin: 10px 0;
}

.visit-date-time-container {
  display: flex;
  margin: 10px 0;
}

.visit-date-field {
  margin-right: 10px;
}

.visit-time-field {
  margin: 0 10px;
}

.visit-duration-field {
  margin-left: 10px;
}
