<div class="content-centered container">
  <h2 class="text-centered">Реєстратура</h2>
  <div class="appointment-content">

    <app-appointment-form [(selectedPatient)]="selectedPatient"
                          [(selectedDiagnosis)]="selectedDiagnosis"
                          [visitForm]="visitForm"></app-appointment-form>

    <div>
      <button class="mat-raised-button mat-primary apply-btn"
              (click)="createVisit()"
              [disabled]="!(this.visitForm.valid && this.selectedPatient)">Зареєструвати
      </button>
    </div>

  </div>

</div>
