<div class="dialog-width">
  <h2 mat-dialog-title>Відвідування</h2>

  <mat-dialog-content [formGroup]="visitForm">

    <div>
      <mat-form-field class="first-field">
        <input matInput #nameInput placeholder="Пацієнт*" formControlName="patientText">
      </mat-form-field>
    </div>

    <div>
      <app-autocomplete [items]="diagnosis"
                        (valueChanged)="onDiagnosisChanged($event)"
                        placeholder="Виберіть попередній діагноз">

      </app-autocomplete>


    </div>

<!--    <div>-->
<!--      <mat-form-field>-->
<!--        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Дата народження"-->
<!--               formControlName="birthday">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker></mat-datepicker>-->
<!--        <mat-error *ngIf="patientForm.get('birthday').invalid">{{getErrorMessage(patientForm.get('birthday'))}}</mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->



  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="closeDialog()">Відмінити</button>
    <button class="mat-raised-button mat-primary" >Зберегти</button>
  </mat-dialog-actions>

</div>
