<div class="panel-editor" (appClickOut)="closePanel()" rootClassForSkip="not-close">
  <div class="mat-body-2 title">
    <mat-icon *ngIf="initialState !== state" class="back-icon not-close" (click)="backToPreviousState()">
      keyboard_backspace
    </mat-icon>
    <span>{{title}}</span>
  </div>
  <div *ngIf="!state" class="not-close">
    <app-edit-panel-options [questions]="questions" (selected)="rootStateChanged($event)"></app-edit-panel-options>
  </div>

  <div *ngIf="state === 'TOOTH_MISSING'" class="not-close">
    <app-edit-panel-options [questions]="questions"
                            (selected)="removedToothStateChanged($event)"></app-edit-panel-options>
  </div>

  <div *ngIf="state === 'HEALTH_TOOTH_QUESTION'" class="not-close">
    <app-edit-panel-options [questions]="questions"
                            (selected)="healthToothQuestionChanged($event)"></app-edit-panel-options>
  </div>


  <div *ngIf="state === 'SICK_TOOTH'">
    <div>
      <div class="mat-body-2">Коронка</div>
      <div>
        <app-multi-value-editor (changed)="onCrownsChanged($event)"
                                formClass="full-width"
                                placeholder="Дефекти коронки"
                                [possibleItems]="possibleCrownStates"
        ></app-multi-value-editor>
      </div>
      <div *ngIf="showDentalFillingPanel" class="custom-row not-close">
        <div id="dental-filling-panel"
             class="content-centered"
             [inlineSVG]="showFrontDentalFilling ? 'assets/images/dental-filling-front.svg' : 'assets/images/dental-filling-rear.svg'"
             (click)="onDentalFillingPanelClickHandler($event)"></div>
        <div>
          <div class="mat-body-2 title">Стан</div>
          <app-edit-panel-options [questions]="dentalFillingValues"
                                  (selected)="removedToothStateChanged($event)"></app-edit-panel-options>
        </div>


      </div>

    </div>
    <div class="mat-body-2">Корінь</div>

    <div>
      <app-autocomplete [items]="possibleRootStates"
                        (valueChanged)="onEarlierRootsChanged($event)"
                        [selectedItem]="selectedEarlierRoot"
                        formClass="full-width"
                        floatLabel="never"
                        placeholder="Дефекти кореня">
      </app-autocomplete>
    </div>
    <div>

    </div>

  </div>

</div>
