.panel-editor {
  position: absolute;
  z-index: 10;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  min-width: 200px;
  overflow-y: auto;
  max-height: 65vh;
}

.title {
  height: 30px;
  text-align: center;
}

.back-icon {
  float: left;
  cursor: pointer;
}

.dental-filling-panel {
  display: flex;
  margin-right: 10px;
}

mat-form-field {
  width: 100% !important;
}
