<div class="panel-editor" (appClickOut)="closePanel()" rootClassForSkip="not-close">
  <div class="mat-body-2 title">
    <mat-icon *ngIf="initialState !== panelState" class="back-icon not-close" (click)="backToPreviousState()">
      keyboard_backspace
    </mat-icon>
    <span>{{title}}</span>
  </div>
  <div *ngIf="!panelState" class="not-close">
    <app-edit-panel-options [questions]="questions" (selected)="rootStateChanged($event)"></app-edit-panel-options>
  </div>

  <div *ngIf="panelState === 'TOOTH_MISSING'" class="not-close">
    <app-edit-panel-options [questions]="questions"
                            (selected)="missingToothStateChanged($event)"></app-edit-panel-options>
  </div>

  <div *ngIf="panelState === 'HEALTH_TOOTH_QUESTION'" class="not-close">
    <app-edit-panel-options [questions]="questions"
                            (selected)="healthToothQuestionChanged($event)"></app-edit-panel-options>
  </div>


  <div *ngIf="panelState === 'SICK_TOOTH'">
    <app-edit-panel-options [questions]="sickToothStates"
                            [multiSelection]="true"
                            (selected)="sickToothStateChanged($event)"></app-edit-panel-options>

    <div>
      <div class="mat-body-2">Травма</div>
      <app-autocomplete [items]="possibleTraumaStates"
                        (valueChanged)="onTraumaStateChanged($event)"
                        [selectedItem]="selectedTraumaState"
                        formClass="full-width"
                        floatLabel="never"
                        placeholder="Виберіть травму">
      </app-autocomplete>
    </div>

    <div>
      <!--      <div class="mat-body-2">Коронка</div>-->
      <div>
        <div class="mat-body-2">Дефекти коронки</div>
        <app-multi-value-editor (changed)="onCrownStatesChanged($event)"
                                formClass="full-width"
                                floatLabel="never"
                                placeholder="Виберіть дефекти коронки"
                                [possibleItems]="possibleCrownStates"
        ></app-multi-value-editor>
      </div>

      <div *ngFor="let crown of selectedCrownStates" class="not-close">
        <div *ngIf="crown.fillCrownColor" class="not-close">
          <div class="mat-body-2 title">{{crown.text}}</div>
          <div class="custom-row">
            <div
              class="dental-filling-panel content-centered not-close"
              [inlineSVG]="showFrontDentalFilling ? 'assets/images/dental-filling-front.svg' : 'assets/images/dental-filling-rear.svg'"
              (click)="onDentalFillingPanelClickHandler($event)"></div>
            <div>
              <div class="mat-body-2 title">Стан</div>
              <app-edit-panel-options [questions]="dentalFillingValues"
                                      (selected)="removedToothStateChanged($event)"></app-edit-panel-options>
            </div>
          </div>
        </div>
        <div *ngIf="crown.crownState === 'ORTHOPEDIC_CONSTRUCTION'">
          <div class="mat-body-2 title">{{crown.text}}</div>
          <app-multi-value-editor (changed)="onCrownOrthopedicValueChanged($event)"
                                  formClass="full-width"
                                  placeholder="Ортопедична конструкція"
                                  [possibleItems]="orthopedicConstructionValues"
          ></app-multi-value-editor>
        </div>
      </div>
    </div>
    <!--    <div class="mat-body-2">Корінь</div>-->

    <div>
      <div class="mat-body-2">Дефекти кореня</div>
      <app-multi-value-editor (changed)="onRootsStateChanged($event)"
                              formClass="full-width"
                              placeholder="Виберіть дефекти кореня"
                              floatLabel="never"
                              [possibleItems]="possibleRootStates"
      ></app-multi-value-editor>
      <div *ngFor="let root of selectedRootStates" class="not-close">
        <div *ngIf="root.rootState === 'RESORPTION'" class="not-close">
          <div class="mat-body-2 title">{{root.text}}</div>
          <app-edit-panel-options [questions]="resorptionValues"
                                  [singleSelection]="true"
                                  (selected)="resorptionValueChanged($event)"></app-edit-panel-options>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
